:root {
	/* Palette */
	--white: #EFEFEF;
	--white-1: #EBE3E4;
	--black: #17181F;

	--green: #B7E57F;
	--sage: #9FAC6B;

	--yellow: #FDD307;
	--deep-yellow: #FCBC00;
	--orange: #DB8007;

	--blue: #06C0DC;
	--deep-blue: #059BB3;
	--blue-grey: #607A90;
	--dark-blue-grey: #066374;

	--pink: #F5C9E3;
	--deep-pink: #D6A0C0;

	font-family: sans-serif;
}

@media (prefers-color-scheme: light) {
	:root {
		--bg: var(--white);
		--fg: var(--black);
		--accent: var(--sage);
		--link: #0F529A;
		--link-hover: #09427f;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--bg: var(--black);
		--fg: var(--white-1);
		--accent: var(--sage);
		--link: var(--blue);
		--link-hover: var(--deep-blue);
	}
}

html {
	background-color: var(--bg);
	color: var(--fg);

	display: flex;
	align-items: center;
	justify-content: center;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;

	flex-direction: column;
	align-items: start;
	justify-content: start;

	gap: 8px;

	width: 70vw;
}

div.content {
	display: flex;
	align-items: center;
	justify-content: center;

	flex-direction: row;
	align-items: start;
	justify-content: start;

	gap: 18px;

	width: 70vw;
}

main {
	width: 60vw;
}

nav {
	width: 10vw;
	padding: 8px;
	border-right: 1px solid var(--accent);
}

footer {
	text-align: right;
}

code {
	font-family: monospace;

	padding-left: 4px;
	padding-right: 4px;
}

a, a:visited {
	color: var(--link);

	text-decoration: underline;
}

a:hover {
	color: var(--link-hover);
}

hr {
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid var(--accent);
}

ul.favourited-list {
	list-style-type: none;
}

ul.favourited-list>li,
ul.favourited-list>li>span {
	vertical-align: middle;
}

table {
	border-collapse: collapse;
}

th, td {
	padding: 8px;
	border: 1px solid var(--accent);
}

details {
	border: 1px solid var(--accent);
	padding: 8px;
}

summary {
	cursor: pointer;
}

div.buttons {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 8px;
}

.swash {
	display: inline-block;
	width: 30px;
	height: 30px;
	border: 2px solid var(--fg);
	border-radius: 50%;
}

.mini-swash {
	display: inline-block;
	width: 8px;
	height: 8px;
	border: 1px solid var(--fg);
	border-radius: 50%;
}

.secret {
	color: var(--accent);
}

/* "Mobile Mode" */
@media only screen and (max-device-width: 600px) {
	body {
		width: 98vw;
	}

	div.content {
		flex-direction: column;
		width: 98vw;
	}

	main {
		width: 98vw;
	}

	nav {
		width: 98vw;
		padding: 8px 0 8px 0;
		border-right: none;
	}
}
